<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TinyApp - Error</title>
</head>
<body style="font-size:20px; padding:0 50px 0 50px;">
        <div style="max-width: 500px; margin: 50px auto 0 auto; text-align: center;">
            <img src="https://img.buzzfeed.com/buzzfeed-static/static/2017-01/3/14/asset/buzzfeed-prod-fastlane-01/anigif_sub-buzz-26767-1483471476-8.gif" style="width: 300px;
            display: block; margin: 0 auto;" />
            <p><%= message %></p>
            <a href="/urls">START OVER</a>
        </div>
</body>
</html>