<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TinyApp - Add a URL</title>
</head>
<body style="font-size:20px; padding:50px;">
    <h2>Please make sure you are entering a url and try again.</h2>
</body>
</html>